@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] | Comembo</title>
    <link rel="icon" type="image/x-icon" href="/images/sai.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@mdi/font@6.9.96/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Hospital_Management.styles.css" asp-append-version="true"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
</head>
<body style="overflow-x: hidden" class="bg-grey w-100 container-fluid p-0">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-grey border-bottom">
        <div class="container-fluid">
            <img src="/images/icon.png" style="max-height: 40px" class="me-2"/>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color: #004aad">Comembo Care</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 fw-bold">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/tos">Terms of Service</a>
                    </li>

                    @if (!SignInManager.IsSignedIn(User))
                    {
                        // Patient
                        @* <li class="nav-item"> *@
                        @*     <a style="color: #004aad !important;" class="nav-link text-dark" href="/smile-makeovers">Appointment</a> *@
                        @* </li> *@
                    }
                    else if (User.IsInRole("Patient"))
                    {
                        @* <li class="nav-item"> *@
                        @*     <a class="nav-link text-dark" href="/smile-makeovers">Smile Makeovers</a> *@
                        @* </li> *@

                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/patient-messages"><i class="bi bi-chat-dots"></i> View Chats</a>
                        </li>
                        @* <li class="nav-item"> *@
                        @*     <a class="nav-link text-dark" href="/patient-messages"><i class="bi bi-pencil-square"></i> Edit Profile</a> *@
                        @* </li> *@
                        @* <li class="nav-item"> *@
                        @*     <a class="nav-link text-dark" href="/patient-messages"><i class="bi bi-credit-card-2-back-fill"></i> History</a> *@
                        @* </li> *@
                    }
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>

@* <div class="position-fixed fixed-bottom end-0 d-flex flex-row-reverse" style="pointer-events: none"> *@
@*     <button class="rounded-5 btn-success btn m-4" style="pointer-events: all"> *@
@*         <i class="bi bi-chat-fill"></i> Chat *@
@*     </button> *@
@* </div> *@

@if (User.IsInRole("Admin"))
{
    <div class="container-fluid row w-100 p-0 m-0">
        <div class="row container-fluid bg-dark text-white">
            @* <a href="/" class="d-flex align-items-center me-md-auto text-white text-decoration-none"> *@
            @*     <i class="bi bi-pencil-square"></i> *@
            @*     <span class="h5">Administrator</span> *@
            @* </a> *@

            <ul class="nav nav-pills flex-row mb-auto navbar-dark">
                <li class="nav-item text-white m-3">
                    <a href="/" class="nav-link text-white"><i class="bi bi-house me-2"></i> Dashboard</a>
                </li>
                <li class="nav-item text-white m-3">
                    <a href="/register" class="nav-link text-white"><i class="bi bi-person-fill-add me-2"></i> Register Doctor</a>
                </li>
                <li class="nav-item text-white m-3">
                    <a href="/patients" class="nav-link text-white"><i class="bi bi-people me-2"></i> Patients</a>
                </li>
                <li class="nav-item text-white m-3">
                    <a href="/admin/appointments" class="nav-link text-white"><i class="bi bi-calendar me-2"></i> Appointments</a>
                </li>
                <li class="nav-item text-white m-3">
                    <a href="/Doctors" class="nav-link text-white"><i class="bi bi-file-earmark-image-fill me-2"></i> Doctors</a>
                </li>
                <li class="nav-item text-white m-3">
                    <a href="/medicine/view" class="nav-link text-white"><i class="bi bi-capsule me-2"></i> Medicine Inventory</a>
                </li>
                @* <li class="nav-item text-white m-3"> *@
                @*     <a href="/messages" class="nav-link text-white"><i class="bi bi-chat-dots me-2"></i> Messages</a> *@
                @* </li> *@
            </ul>
        </div>

        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
}
else if (User.IsInRole("Doctor"))
{
    <div class="container-fluid row p-0 m-0">
        <div class="container-fluid bg-dark text-white pb-4">
            <ul class="nav nav-pills flex-row mb-auto navbar-dark">
                <li class="nav-item text-white m-3">
                    <a href="/Doctor-dashboard" class="nav-link text-white"><i class="bi bi-house me-2"></i> Appointments</a>
                </li>
                <li class="nav-item text-white m-3">
                    <a href="/doctor-patients" class="nav-link text-white"><i class="bi bi-person-fill-add me-2"></i> Patients</a>
                </li>
                <li class="nav-item text-white m-3">
                    <a href="/doctor-invoice" class="nav-link text-white"><i class="bi bi-people me-2"></i> Invoice</a>
                </li>
                <li class="nav-item text-white m-3">
                    <a href="/doctor/support" class="nav-link text-white"><i class="bi bi-chat-dots-fill me-2"></i> Support Chat</a>
                </li>
                @* <li class="nav-item text-white m-3"> *@
                @*     <a href="/appointment-details" class="nav-link text-white"><i class="bi bi-file-earmark-image-fill me-2"></i> Appointment Details</a> *@
                @* </li> *@
                @* <li class="nav-item text-white m-3"> *@
                @*     <a href="/Doctor-notification" class="nav-link text-white"><i class="bi bi-chat-dots me-2"></i> Notification</a> *@
                @* </li> *@
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>
}
else if (User.IsInRole("Patient"))
{
    <div class="container-fluid p-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
}
else
{
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Comembo Care
        </div>
    </footer>
}

@await Html.PartialAsync("Notifications")

@if (User.IsInRole("Patient") || !SignInManager.IsSignedIn(User))
{
    @await Html.PartialAsync("FloatingChat")
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>